{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat App</title>
    <link rel="stylesheet" href={% static "login.css" %}>
</head>
<body>
    <div class="wrapper">
        <section class="form signup">
            <header>
                <img class="logo" src={% static "assets/logo.png" %} alt="Tiktok" />
            </header>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% for message in messages %}
                <div class="error-txt">a{{ message }}</div>
                {% endfor %}
                    <div class="field input">
                        <label>Tok Name</label>
                        <input type="text" placeholder="Tok Name" name="tname" required spellcheck="true">
                    </div>
                
                <div class="field input">
                    <label>Email Address</label>
                    <input type="email" placeholder="Enter your email address" name="email" required>
                </div>
                <div class="field input">
                    <label>Password</label>
                    <input type="password" placeholder="Enter new Password" name="password1" required>
                    <i class="fas fa-eye"></i>
                </div>
                <div class="field input">
                    <label>Confirm Password</label>
                    <input type="password" placeholder="Re-enter new Password" name="password2" required>
                    <i class="fas fa-eye"></i>
                </div>
                <!-- <div class="field image">
                    <label>Select Image</label>
                    <input type="file" name="image" required>
                </div> -->
                <div class="field button">
                    <input type="submit" value="Continue to Chat">
                </div>
                
            </form>
            <div class="link">Already Signed up?<a href="login">Login now</a></div>
        </section>
    </div>

</body>
</html>