<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tiktok</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <div class="wrapper">
        <section class="form login">
            <header>
                <img class="logo" src="assets/logo.png" alt="Tiktok" />
            </header>
            <form action="#" autocomplete="off">
                <div class="error-txt"></div>
                <div class="field image">
                    <label>Select your video</label>
                    <input type="file">
                </div>
                <div class="field textarea">
                    <label>Password</label>
                    <textarea name="description" maxlength="50" placeholder="enter video description"></textarea>
                </div>
                <div class="field button">
                    <input type="submit" value="Post">
                </div>
                
            </form>
        </section>
    </div>
</body>
</html>